{% extends "base.html" %}

{% block body %}
<div class="topnav">
  {% if session.logged_in %}
    <a href="/logout/">Logout</a>
    {% else %}
    <a href="/login/">Login</a>
    <a href="/register/">Sign up</a>
    {% endif %}
</div>
<hr>

{% if session['logged_in'] %}
<h5>Welcome, {{ session['username'] }}</h5>
 <h1>Transform a file demo</h1>

                <form action="/transform" method="post" enctype="multipart/form-data">
                    <input type="file" name="data_file" />
                    <input type="submit" />
                </form>
{% endif %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{% endblock body %}