{% extends "base.html" %}

{% block body %}
<div class="topnav">
  {% if session.logged_in %}
    <a href="/logout/">Logout</a>
    {% else %}
    <a href="/login/">Login</a>
    <a href="/register/">Sign up</a>
    {% endif %}
</div>
<hr>

{% if session['logged_in'] %}
<h5>Welcome, {{ session['username'] }}</h5>
{% endif %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{% endblock body %}