{% extends "base.html" %}
{% block body %}
{% from "formhelpers.html" import render_field %}
<h4>
    <strong>
        Login
    </strong>
</h4>
<hr>
<form method="POST">
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr>
<a href="/register">Create a New Account!</a>
{% endblock body %}